
html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url('https://webjocke.github.io/images/bg.png');
    background-size: cover;
}

/* HEADER MENU STUFF */
header {
    position: fixed;
    top: 0px;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr min-content 1fr;
}
#products_menu {
    text-align: center;
    text-align: right;
    padding-right: 20px;
}
#about_menu {
    text-align: center;
    text-align: left;
    padding-left: 20px;
}
.menu_item {
    color: white;
    padding: 14px 10px;
    margin: 20px 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
}
.menu_item:hover {
    background-color: rgba(255,255,255,0.05);
}
.main_logo_outer {
    display: inline-block;
    padding-top: 10px;
}
#main_logo {
    height: 60px;
}

/* MAIN CONTENT */
#main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#left_main_side {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
    ". ."
    ". left_box"
    ". .";
}
#right_main_side {
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
    ". ."
    "right_box ."
    ". .";
}
#left_box {
    grid-area: left_box;
    width: 500px;
    text-align: right;
    color: white;
    font-family: sans-serif;
}
#right_box {
    grid-area: right_box;
}